<table>
    <tr>
        <th>Course Name</th>
        <th>Course Description</th>
    </tr>
    <% for(var i=0; i<course.length;i++){ %>
        <tr>
            <td> <a href="/courses/add/<%= course[i].COURSE_ID %>"><%= course[i].courseName %></a></td>
            <td><%= course[i].courseDescription %></td>
        </tr> 
    <%} %>

    
</table>
