<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
    <div class="alert alert-info"><%= message %></div>
    <% } %>

        <!-- table -->
        <table class="table">
            <tr>
                <th>Assignment</th>
                <th>Mark</th>
                <th>Total</th>
            </tr>
            <% for(var i=0; i<marks.length;i++){ %>
                <tr>
                    <td><%= marks[i].ASSESSMENT_NAME %></td>
                    <td><%= marks[i].MARK_SCORE %></td>
                    <td><%= marks[i].ASSESSMENT_MAX_MARK %></td>
                </tr> 
            <%} %>
        </table>
</div>

</body>
</html>
