<!DOCTYPE html>
<html>
  <head>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="icon" href="images/raspberry.png" type="image/png">
    <link rel="stylesheet" href="/fonts/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <title>TestV2</title>
  </head>
 <body>
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand fas fa-home" href="/"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/student/welcome.html">Student<span class="sr-only">(current)</span></a>
          </ul>
        </div>
      </nav>

      
   <div class="container-fluid text-center my-5" >
      <h1 class="display-1">Test<strong>V2</strong></h1>
    </div>



  <div class="mx-auto" style="width: 300px;">
    <div class="col-sm">
      <form action="/login" class="text-left">
        Username:<br>
        <input type="text" name="firstname" value="robzombie@gmail.com" class="w-100">
        <br>
        Password:<br>
        <input type="password" name="lastname" value="smile123" class="w-100">
        <br><br>
        <input type="submit" value="Login" class="w-100 btn btn-primary">
      </form> 
      <div class="text-center pt-1"><a class="center" href="/signup">Register</a></div>
    </div>
    </div>

 <meta charset="utf-8">
 </body>
</html>
